
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    /* Altera a cor de fundo */
    background-color:rgb(146, 119, 182);
}
/* Altera o estilo do título (elemento HTML "h1" */
h1.titulo {
    font-family: "Playfair Display" , serif;
        /* Altera a cor da fonte */
        color:black;
    }


h1{
    h1.titulo {
        /* Usa a fonte importada do Google Fonts*/
        font-family: "Playfair Display" , serif;
        /* Altera a cor da fonte */
        color:black;
    }
}
/* Altera o estilo do cartão (caixa de texto e botão adicionar tarefa) */
.card{
    background-color: rgb(193, 154, 245);
}

/* Altera o estilo da caixa de texto "Adicionar tarefa" */ 
imput[type = "text"] {
    background-color: #d8c5fa;
    border: 1px solid rgb(115, 72, 145);
}
/* Altera o estilo do botão "Adicionar" nova tarefa */
#btn-nova-tarefa {
    background-color: rgb(109, 77, 161);
    color: white;
    border: 1px solid rgb(109, 77, 161);
}

/* Altera o estilo do botão "Adicionar" nova tarefa ao passar o mouse sob ele */
#btn-nova-tarefa:hover {
    background-color: white;
    color: rgb(208, 173, 253);
}

/* Altera o estilo das tarefas adicionadas */
.list-group-item {
    background-color: #d8c5fa;
    border: 1px solid rgb(59, 6, 102);
}

/* Altera o estilo do botão de Concluir */
.btn-concluir {
    background-color: rgb(153, 84, 243);;
}

/* Altera o estilo do botão de Excluir */
.btn-excluir {
    background-color: rgb(153, 84, 243);
}